.gradle
gradlew
gradlew.bat
/build/
!gradle/wrapper/gradle-wrapper.jar

accessTokenGoogle/
accessTokenFlickr/
flicktogoogle.db.mv.db
flicktogoogle.mv.db
app.log
gradle/
out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/